*.iws
.settings
grails-logical-delete-*.zip
grails-logical-delete-*.zip.sha1
/plugin.xml
*.log
/cobertura.ser
.DS_Store
/target/
/out/
/web-app
/.link_to_grails_plugins/
/target-eclipse/
.classpath
.project