<footer>
    <header class="row-fluid"><p>{{ page.footer-title }}</p></header>
    <section class="row-fluid">
        <div class="span3">
            <ul>
                <li><a href="https://twitter.com/nanlabs" target="_blank"><i class="icon-twitter-sign icon-2x"></i> <span class="text-link">@nanlabs</span></a></li>
                <li><a href="https://www.facebook.com/nanlabs" target="_blank"><i class="icon-facebook-sign icon-2x"></i> <span class="text-link">facebook.com/nanlabs</span></a></li>
            </ul>
        </div>
        <div class="span3">
            <ul>
                <li><a href="https://github.com/nanlabs" target="_blank"><i class="icon-github icon-2x"></i> <span class="text-link">github.com/nanlabs</span></a></li>
                <li><a href="http://www.linkedin.com/company/3144073?trk=tyah" target="_blank"><i class="icon-linkedin-sign icon-2x"></i> <span class="text-link">linkedin</span></a></li>
            </ul>
        </div>
        <div class="span5 rightmost">
            <ul>
                <li><a href="mailto:contact@nan-labs.com">contact@nan-labs.com</a></li>
                <li>
                    <p>Buenos Aires, Argentina<br>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
                </li>
            </ul>
        </div>
    </section>
</footer>