<nav class="row-fluid content-header">
	<div class="span4 box-services">
		<a href="services.html" title="{{ page.services-title }}">
			<section class="span12 area">
				<header class="span12">
					<h2 class="pull-left">{{ page.services-title }}</h2>
					<h1 class="pull-right"><strong class="icon-truck"></strong></h1>
				</header>
				<ul>
					<li><h3>{{ page.services-development }}</h3></li>
					<li><h3>{{ page.services-architecture }}</h3></li>
					<li><h3>{{ page.services-research }}</h3></li>
				</ul>
			</section>
		</a>
	</div>
	<div class="span4 box-features">
		<a href="features.html" title="{{ page.features-title }}">
			<section class="span12 area">
				<header class="span12">
					<h2 class="pull-left">{{ page.features-title }}</h2>
					<h1 class="pull-right"><strong class="icon-lightbulb"></strong></h1>
				</header>
				<ul>
					<li><h3>{{ page.features-quality }}</h3></li>
					<li><h3>{{ page.features-creativity }}</h3></li>
					<li><h3>{{ page.features-innovation }}</h3></li>
				</ul>
			</section>
		</a>
	</div>
	<section class="span4 box-work">
		<a href="work.html" title="{{ page.work-title }}">
			<div class="span12 area">
				<header class="span12">
					<h2 class="pull-left">{{ page.work-title }}</h2>
					<h1 class="pull-right"><strong class="icon-suitcase"></strong></h1>
				</header>
				<ul>
					<li><h3>{{ page.work-link }}</h3></li>
				</ul>
			</div>
		</a>
	</section>
</nav>

<div class="row-fluid">
	<article class="span7 index-section">
		<header><h2>{{ page.content-news }}</h2></header>
		<p>{{ page.content-sample-text }}</p>
	</article>
	<article class="span5 index-section">
		<header><h2>{{ page.content-tweets }}</h2></header>
		<a class="twitter-timeline" height="400" href="https://twitter.com/nanlabs" data-chrome="noheader nofooter" data-widget-id="348849519980580864">Tweets por @nanlabs</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</article>
</div>
